<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>Traveling cost estimation</title>
    <link rel="stylesheet" href="/static/style.css"/>
  </head>
  <body>
	<header>
        <h1>Traveling cost estimation</h1>
		<a class="button" href="register">Register/Login</a>
		<a class="button" href="map">Map</a>
		<a class="button" href="calculator">Calculator</a>
		<a class="button" href="order">Order</a>
		<a class="button" href="calendar">Calendar</a>
		<a class="button" href="admin">Admin</a>
		<a class="button" href="about">About</a>
    </header>

	<p> Welcome to our application. Start by getting registered or logging in.</p>
	
	<script src="/static/navigation_buttons.js"></script>
  </body>
</html>
