<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>Traveling cost estimation</title>
    <link rel="stylesheet" href="/static/style.css"/>
  </head>
  <body>
	<header>
        <h1>Traveling cost estimation</h1>
		<button onclick="gotoRegister()">Register/Login</button>
		<button onclick="gotoMap()">Map</button>
		<button onclick="gotoCalculator()">Calculator</button>
		<button onclick="gotoOrder()">Order</button>
		<button onclick="gotoCalendar()">Calendar</button>
		<button onclick="gotoAdmin()">Admin</button>
		<button onclick="gotoAbout()">About</button>
    </header>

	<p> Welcome to our application. Start by getting registered or logging in.</p>
	
	<script src="js/script.js"></script>
  </body>
</html>
