body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body .content {
	margin-bottom: 10vh;
}

p {
	text-align: center;
}

header {
    background-color: #003;
    color: #fff;
    padding: 1em;
	position: relative;
	text-align: start;
	height: auto;
}
@media (max-width:1000px) {
	header {
		background-color: #003;
		color: #fff;
		padding: 1em;
		position: relative;
		text-align: center;
		height: 11em;
	}
}

header > img {
	height: 8em;
	width: auto;
	padding-left: 2%;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}

nav ul li {
	font-size: 1em;
}

form ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

form div.general {
	display:grid;
    grid-template-columns: max-content max-content;
    grid-gap:5px;
}

form h1 {
	text-align: center;
}

form div.submit {
	display: flex;
	justify-content: center;
	align-items: center;
}

form div.general label {
	text-align:right; 
}

.button {
	display: flex;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
	vertical-align: middle;

	align-items:center;
	background-color: #11378f;
	color: white;
	padding: 0 0.5em;
    border-color: white;
	border-style: solid;
    border-radius: 4px;
    cursor: pointer;
	margin: 0 5px;
}

.button_img {
	display: flex;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
	vertical-align: middle;

	align-items:center;
	background-color: white;
	color: black;
	padding: 0 0.5em;
    border-color: white;
	border-style: solid;
    border-radius: 4px;
    cursor: pointer;
	margin: 0 5px;
}

.button img {
	width: auto;
	height: 2em;
 	display: block;
	padding: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.button_img img {
	width: auto;
	height: 2em;
 	display: block;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.button_plane img{
	height: 2em;
}

section {
    padding: 20px;
    margin: 10px;
    border: 1px solid #ddd;
}

label.required::after {
    content: " *";
    color: red;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #333;
	color: #fff;
	padding: 0.5em;
	text-align: center;
}

main.account {
	display: flex;
	position: relative;
	justify-content: center;
}

main > div {
	padding: 1em;
}

.logged_in_buttons {
	display: flex;
	position: relative;
	justify-content: center;
}

.logged_in_buttons button{
	margin: 0.5em;
}

div.dropdown_line {
	display: flex;
}

div.card_1 .airline_thumbnail img {
	width: 50%;
	height: auto;
	margin: auto; 
}

div.card_2 .airline_thumbnail img {
	width: 25%;
	height: auto;
	margin: auto; 
}

div.card_3 .airline_thumbnail img {
	width: 16%;
	height: auto;
	margin: auto; 
}

div.card {
	height: 200px;
	text-align: center;
	border-radius: 10px;
	border: 2px solid #11378f;
	margin: 1em;
}

div.clicked_card {
	height: 200px;
	text-align: center;
	border-radius: 10px;
	border: 2px solid #11378f;
	margin: 1em;
	background-color: #cae1ff;
}

div.card:hover {
	background-color: #cae1ff;
	cursor: pointer;
}

div.card_1 {
	width: 200px;
}

div.card_2 {
	width: 400px;
}

div.card_3 {
	width: 600px;
}

div.card_price {
	position: absolute;
	bottom: 0;
}

.airline_thumbnail {
	display: flex;
	height: 70%;
	justify-content: center;
	align-items: center;
}

.react-horizontal-scrolling-menu--scroll-container  {
  /* this makes sure the padding and the border is included in the box sizing */
  box-sizing: border-box;
  overflow-y: hidden;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

table {
    max-width:980px;
    table-layout:fixed;
    margin:auto;
    width:100%;
}
th, td {
    padding:5px 10px;
    border:1px solid #000;
}
thead, tfoot {
    background:#cae1ff;
    width:100%;    
}
tbody {
    height:300px;
    overflow:auto;
    overflow-x:hidden;    
    width:100%;
}
tbody tr {    
    width:100%;    
}

tbody{
  scrollbar-face-color: ThreeDFace !important;
  scrollbar-shadow-color: ThreeDDarkShadow !important;
  scrollbar-highlight-color: ThreeDHighlight !important;
  scrollbar-track-color: Scrollbar !important;
  scrollbar-arrow-color: ButtonText !important;
}

div.account_history {
	text-align: center;
}

div.calculator {
	text-align: center;
}


#map {
    height: 100vh; /* Set the height to 100% of the viewport height */
    width: 100vw;  /* Set the width to 100% of the viewport width */
}

.airport-label {
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: red;
    padding: 5px;
    border-radius: 5px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

